

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="float:left;width:45%">
    <h2>Projects List</h2>
    <table>
        <tr>
            <th>CreationDate </th>
            <th>Deadline </th>
            <th>IsFinished </th>
            <th>ProjectTitle </th>
            <th>ProjectContent </th>
            <th>Priority </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.CreateTime</td>
                <td>@item.Deadline</td>
                <td>@item.IsFinished</td>
                <td>@item.ProjectTitle</td>
                <td>@item.ProjectContent</td>
                <td>@item.Priority</td>

            </tr>
        }
    </table>
</div>


</table>
